<div class="body">
  <h1>admin</h1>
  <div class="cardsContainer">
    {{#each orders}}
    <a href="/admin/{{_id}}">
      <div class="orderCard">
        <div>Заказ № {{_id}}</div>
        <div>Заказчик: {{userName}}</div>
        <div>mail: {{userEmail}}</div>
        <div>phone: {{userPhone}}</div>
      </div>
    </a>
    {{/each}}
  </div>
</div>
