<div class="body">

  
  <a href="/clothes/forms/{{firstF1._id}}">
    <div class="publics">
      <img class="image" src="{{firstF1.img}}">
      <div>{{firstF1.name}}</div>
      <div>Цена: {{firstF1.price}}</div>
    </div>
  </a>

  <a href="/clothes/forms/{{firstF2._id}}">
    <div class="publics">
      <img class="image" src="{{firstF2.img}}">
      <div>{{firstF2.name}}</div>
      <div>Цена: {{firstF2.price}}</div>
    </div>
  </a>

  <a href="/clothes/forms/{{firstF3._id}}">
    <div class="publics">
      <img class="image" src="{{firstF3.img}}">
      <div>{{firstF3.name}}</div>
      <div>Цена: {{firstF3.price}}</div>
    </div>
  </a>

  <a href="/clothes/forms/{{firstF4._id}}">
    <div class="publics">
      <img class="image" src="{{firstF4.img}}">
      <div>{{firstF4.name}}</div>
      <div>Цена: {{firstF4.price}}</div>
    </div>
  </a>
  <a href="/clothes/forms/{{firstF5._id}}">
    <div class="publics">
      <img class="image" src="{{firstF5.img}}">
      <div>{{firstF5.name}}</div>
      <div>Цена: {{firstF5.price}}</div>
    </div>
  </a>
  <a href="/clothes/forms/{{firstF6._id}}">
    <div class="publics">
      <img class="image" src="{{firstF6.img}}">
      <div>{{firstF6.name}}</div>
      <div>Цена: {{firstF6.price}}</div>
    </div>
  </a>
  <a href="/clothes/forms/{{firstF7._id}}">
    <div class="publics">
      <img class="image" src="{{firstF7.img}}">
      <div>{{firstF7.name}}</div>
      <div>Цена: {{firstF7.price}}</div>
    </div>
  </a>
  <a href="/clothes/shirts/{{firstShirtV._id}}">
    <div class="publics">
      <img class="image" src="{{firstShirtV.img}}">
      <div>{{firstShirtV.name}}</div>
      <div>Цена: {{firstShirtV.price}}</div>
    </div>
  </a>
  <a href="/clothes/shorts/{{firstShorts._id}}">
    <div class="publics">
      <img class="image" src="{{firstShorts.img}}">
      <div>{{firstShorts.name}}</div>
      <div>Цена: {{firstShorts.price}}</div>
    </div>
  </a>
  <a href="/clothes/socks/{{firstSocks._id}}">
    <div class="publics">
      <img class="image" src="{{firstSocks.img}}">
      <div>{{firstSocks.name}}</div>
      <div>Цена: {{firstSocks.price}}</div>
    </div>
  </a>
  <a href="/clothes/shirts/{{firstShirtRound._id}}">
    <div class="publics">
      <img class="image" src="{{firstShirtRound.img}}">
      <div>{{firstShirtRound.name}}</div>
      <div>Цена: {{firstShirtRound.price}}</div>
    </div>
  </a>
  <a href="/clothes/shirts/{{firstShirtLong._id}}">
    <div class="publics">
      <img class="image" src="{{firstShirtLong.img}}">
      <div>{{firstShirtLong.name}}</div>
      <div>Цена: {{firstShirtLong.price}}</div>
    </div>
  </a>
  <a href="/clothes/shirts/{{firstShirtPolo._id}}">
    <div class="publics">
      <img class="image" src="{{firstShirtPolo.img}}">
      <div>{{firstShirtPolo.name}}</div>
      <div>Цена: {{firstShirtPolo.price}}</div>
    </div>
  </a>
  
</div>
