<div class="body">
  <a href="/clothes/shirts/{{firstShirtV._id}}">
    <div class="publics">
      <img class="image" src="{{firstShirtV.img}}">
      <div>{{firstShirtV.name}}</div>
      <div>Цена: {{firstShirtV.price}}</div>
    </div>
  </a>
  <a href="/clothes/shirts/{{firstShirtRound._id}}">
    <div class="publics">
      <img class="image" src="{{firstShirtRound.img}}">
      <div>{{firstShirtRound.name}}</div>
      <div>Цена: {{firstShirtRound.price}}</div>
    </div>
  </a>
  <a href="/clothes/shirts/{{firstShirtLong._id}}">
    <div class="publics">
      <img class="image" src="{{firstShirtLong.img}}">
      <div>{{firstShirtLong.name}}</div>
      <div>Цена: {{firstShirtLong.price}}</div>
    </div>
  </a>
  <a href="/clothes/shirts/{{firstShirtPolo._id}}">
    <div class="publics">
      <img class="image" src="{{firstShirtPolo.img}}">
      <div>{{firstShirtPolo.name}}</div>
      <div>Цена: {{firstShirtPolo.price}}</div>
    </div>
  </a>
</div>
